
<header>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <a aria-label="Home" class="logo" href=""
      ><img class="avatar" src="" alt="Blog"
    /></a>

    <!-- TODO: ADD ICON TO SEARCHBAR AND CHANGE COLOUR-->
    <!-- <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar> -->
    <div class="searchbar">

      <app-search-bar
        [formControl]="searchControl"
        [placeholder]="'Forum'"
        [matAutocomplete]="auto"
        class="search-form-full-width"
      >
      </app-search-bar>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="redirectToSelectedForum($event.option.value)">

        <mat-option *ngFor="let forum of filteredForums | async" [value]="forum.name">
          <a routerLink="/forum/{{ forum.name }}" style="text-decoration: none; color: black;">{{ forum.name }}</a>
        </mat-option>
        <mat-option routerLink="/forum/all" *ngIf="searchControl.value">Search for more</mat-option>
      </mat-autocomplete>
    </div>

    <div 
    class="login-container" 
    style="width:100%; text-align:right;">
      <div *ngIf="isLoggedIn" class="login">
            <button mat-button color="warn"(click)="logout()">Log out</button>
      </div>

      <div *ngIf="!isLoggedIn">
        <a routerLink="/login" 
         style="margin-right: 0;"
         >
         <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>

    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="sidepopup">
      <span *ngIf="this.isLoggedIn">
        <a routerLink="/user/{{ username }}" (click)="sidenav.opened = false">
          <img
            class="avatar mat-elevation-z8"
            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          />
        </a>
        <h4 class="name">{{ username }}</h4>

        <mat-divider></mat-divider>
      </span>
      <h2 *ngIf="!this.isLoggedIn">
        <a routerLink="/login" (click)="sidenav.opened = false">Log in</a>
      </h2>
      <button
        mat-button
        class="menu-button"
        (click)="sidenav.opened = false"
        routerLink="/"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <mat-divider></mat-divider>
      <span *ngIf="this.isLoggedIn">
        <app-create-buttons
          (click)="sidenav.opened = false"
        ></app-create-buttons>
        <mat-divider></mat-divider>
        <!--
          FORUMS THE USER FOLLOWS
        <app-user-forums [username]="username"></app-user-forums>
        <mat-divider></mat-divider>
        -->
        <button
          mat-button
          class="menu-button"
          (click)="sidenav.opened = false"
          routerLink="/user/{{ username }}/starred"
        >
          <mat-icon>bookmark</mat-icon>
          <span>Starred posts</span>
        </button>
        <mat-divider></mat-divider>
      </span>
      <button
        mat-button
        class="menu-button"
        routerLink="/contact"
        (click)="sidenav.opened = false"
      >
        <mat-icon>help</mat-icon>
        <span>Contact Me</span>
        <br />
      </button>

      <!-- TODO: add an /about section on routerLink, could be a link to portfolio. -->
      <button
        mat-button
        class="menu-button"
        
        (click)="sidenav.opened = false"
      >
        <mat-icon>info</mat-icon>
        <a href="https://github.com/sudobarre" style="text-decoration: none; color: black">About</a>
      </button>
      <mat-divider></mat-divider>
      <a href="https://github.com/sudobarre" style="text-decoration: none"
        ><ng-icon name="bootstrapGithub" style="margin-right: 10px"></ng-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/fede-barrena-guzm%C3%A1n-663494a2/"
        style="text-decoration: none"
      >
        <ng-icon
          name="bootstrapLinkedin"
          style="margin-left: 10px; margin-right: 10px"
        ></ng-icon>
      </a>
      <a href="https://t.me/B_Fede_B" style="text-decoration: none">
        <ng-icon name="bootstrapTelegram" style="margin-left: 10px"></ng-icon>
      </a>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
