@media screen and (min-width: 0px) and (max-width: 770px) {
  .sidebar-view-forum {
    display: none !important;
  }
}
.sidebar-view-forum {
  width: 312px;
  /*min-height: 400px;*/
  overflow: hidden;
  border-radius: 4px;
  margin-top: 33px;

}
.forum-description {
  margin-top: 8px;
  color: black;
}
