
.post-title {
  font-size: 28px;
  padding-left: 14px;
  text-align: center;
}

.forum-text {
  font-weight: bold;
  margin-top: 20px;
}

.post-url {
  color: black;
}


.post-text{
    margin-top: 10px;
}

.post{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.comment{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    padding:5px;
    text-decoration: none;
}

.comment-card {
  max-width: 800px;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.post-body{
  margin-top: 7px;
  text-decoration: none;
}

.post-card {
  max-width: 400px;
  margin: 2em auto;
    max-width: 800px;
      position: relative;
}

mat-form-field {
  display: block;
}

.post-comment{
  max-width: 400px;
  display: block;

}

.container{
  margin-top: 30px;
}

app-vote-button{
  display: inline-block;
}

.options{
  float: right;
  display: block;
margin-left: auto;
  margin-right: 0;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
