<ng-template [ngIf]="isLoading">
  <div class="overlay">
    <mat-spinner
      [diameter]="50"
      [color]="'accent'"
      [hidden]="!isLoading"
    ></mat-spinner>
  </div>
</ng-template>
<ng-template [ngIf]="!isLoading">
  <div
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    class="container"
  >
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-12">
            <mat-card class="post-card" mat-elevation-z8>
              <mat-card-header>
                <div
                  mat-card-avatar
                  [ngStyle]="{
                    'background-image':
                      'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'
                  }"
                  routerLink="/user/{{ post.userName }}"
                  class="example-header-image"
                >
                </div>
                <div
                  class="header-right-container"
                  style="position: absolute; right: 0; padding-right: 10px"
                >
                  <app-options-button
                    [toDelete]="post"
                    [name]="postType"
                  ></app-options-button>
                </div>
                <mat-card-title>
                  <a
                    
                    routerLink="/user/{{ post.userName }}"
                    style="text-decoration: none; color:#3f51b5"
                    >{{ post.userName }}</a
                  >
                </mat-card-title>
                <mat-card-subtitle>
                  <span class="forum-text"
                    ><a
                      style="text-decoration: none; color:#3f51b5"
                      routerLink="/forum/{{ post.forumName }}"
                      >{{ post.forumName }}</a
                    ></span
                  >
                  <span> {{ post.createdAt }} </span>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-title>
                <div class="container" style="padding-top: 0%; margin-top: 0%;">
                <span class="post-title">{{ post.title }}</span>
              </div>
              </mat-card-title>
              <mat-card-content>

                <div>
                  
                  <markdown [data]="postMarkdown" class="post-body"></markdown>
                </div>
              </mat-card-content>

              <app-post-data-footer [post]="post"></app-post-data-footer>
            </mat-card>



            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <mat-form-field mat-elevation-z8>
                <textarea
                  matInput
                  placeholder="Write a comment..."
                  [formControlName]="'text'"
                  style="height: 100px;"
                ></textarea>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!commentForm.valid"
                
              >
                Comment
              </button>

              <!-- TODO: Add comment as anonymous user.-->
            </form>
            <hr />



            <div style="margin-top: 1px" *ngFor="let comment of comments">
              <app-show-comment [comment]="comment"></app-show-comment>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mobile-hide">
        <app-forum-info [forum]="forum"></app-forum-info>
        <app-forum-side-bar></app-forum-side-bar>
      </div>
      <div>
        <app-scroll-top></app-scroll-top>
      </div>
    </div>
  </div>
</ng-template>
