<mat-card class="comment-card" mat-elevation-z8>
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{
                        'background-image':
                          'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'
                      }" routerLink="/user/{{ comment.userName }}" class="example-header-image">
      </div>
      <div class="header-right-container" style="position: absolute; right: 0; padding-right: 10px">
        <app-options-button [toDelete]="comment" [name]="commentType"></app-options-button>
      </div>
      <mat-card-title>
        <a class="username" routerLink="/user/{{ comment.userName }}" style="text-decoration: none; color:#3f51b5">{{ comment.userName }}</a>
      </mat-card-title>
      <mat-card-subtitle>
        <span> {{ comment.createdDate }} </span>
      </mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
      
        <div>
          <markdown [data]="commentMarkdown" class="post-body"></markdown>
        </div>
      </mat-card-content>
  </mat-card>
