<div class="container">
  <div class="row">
    <div class="create-forum-container">
      <form
        class="post-form"
        [formGroup]="createForumForm"
        (ngSubmit)="createForum()"
        novalidate
      >
        <div class="form-group">
          <div mat-dialog-title>Create Forum</div>
          <div mat-dialog-subtitle class="rules">
            Title has to be between 3 and 30 letters, and can't include spaces.
          </div>

          <input
            type="text"
            required
            [formControlName]="'title'"
            class="form-control"
            style="margin-top: 5px"
            placeholder="Title"
          />
          <mat-error
            *ngIf="createForumForm.get('title')?.errors?.['noWhiteSpace']"
          >
            Title can't include spaces.
          </mat-error>
          <mat-error
            *ngIf="(createForumForm.get('title')?.touched || createForumForm.get('title')?.dirty) && createForumForm.get('title')?.errors?.['minlength']"
          >
            Title can't have less than 3 characters.
          </mat-error>
          <mat-error
            *ngIf="createForumForm.get('title')?.errors?.['maxlength']"
          >
            Title can't have more than 30 characters.
          </mat-error>
          <textarea
            type="text"
            [formControlName]="'description'"
            style="width: 100%; margin-top: 5px"
            placeholder="What's it about?"
          ></textarea>
          <mat-error
            *ngIf="(createForumForm.get('description')?.touched || createForumForm.get('description')?.dirty) && createForumForm.get('description')?.errors?.['maxlength']">
            Description can't have more than 80 characters
          </mat-error>
          <div>
            <div
              mat-dialog-actions
              style="margin-top: 6px; display: flex"
              class="float-right"
            >
              <button
                type="button"
                (click)="discard()"
                mat-button
                (click)="onNoClick()"
                style="margin-top: 2px"
              >
                Discard
              </button>
              <button
                [disabled]="!createForumForm.valid"
                style="margin-top: 2px; margin-left: auto"
                mat-raised-button
                color="primary"
                mat-button
                type="submit"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
