<ng-template [ngIf]="isLoading">
  <div class="overlay">
    <mat-spinner
      [diameter]="50"
      [color]="'accent'"
      [hidden]="!isLoading"
    ></mat-spinner>
  </div>
</ng-template>
<ng-template [ngIf]="!isLoading">
  <div class="container">
    <div class="row" id="forum-feed">
      <div class="col-md-8">
        <mat-toolbar-row
          class="mat-elevation-z8"
          style="background-color: white; border-radius: 4px"
        >
          <h1>
            <span style="font-family: Roboto, 'Helvetica Neue', sans-serif"
              ><strong> Your saved posts</strong></span
            >
          </h1>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
        <app-post-tile [posts]="savedPosts"></app-post-tile>
      </div>

      <div class="col-md-3">
        <app-forum-side-bar
          class="mobile-hide"
          id="sidebar"
        ></app-forum-side-bar>
        <!--TODO: BACK TO TOP STICKY BUTTON-->
      </div>
    </div>
  </div>
</ng-template>
