<mat-card class="create-post">
  <mat-card-content>
    <form
      class="post-form"
      [formGroup]="createPostForm"
      (ngSubmit)="createPost()"
    >
      <h2>Create Post</h2>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          maxlength="256"
          [formControlName]="'postName'"
          placeholder="Title"
          #title
        />
        <mat-hint style="float: right">{{ title.value.length }} / 256</mat-hint>
        <mat-error
          *ngIf="
            createPostForm.get('postName')?.touched &&
            createPostForm.get('postName')?.errors
          "
        >
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Forum</mat-label>
        <mat-select [formControlName]="'forumName'">
          <mat-option *ngFor="let forum of forums" [value]="forum.name">{{
            forum.name
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            createPostForm.get('forumName')?.touched &&
            createPostForm.get('forumName')?.errors
          "
        >
          Forum is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Text (Optional)"
          [formControlName]="'description'"
          style="height: 130px;"

        ></textarea>
      </mat-form-field>

      <div style="margin-top: 6px; display: flex" class="float-right">
        <button
          (click)="discardPost()"
          mat-button
          style="margin-top: 2px; width: 300px"
        >
          Discard
        </button>
        <button
          [disabled]="!createPostForm.valid"
          style="margin-top: 2px; margin-left: auto; width: 300px"
          mat-raised-button
          color="primary"
          mat-button
          type="submit"
        >
          Post
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
