<ng-template [ngIf]="isLoading">
  <div class="overlay">
    <mat-spinner
      [diameter]="50"
      [color]="'accent'"
      [hidden]="!isLoading"
    ></mat-spinner>
  </div>
</ng-template>
<ng-template [ngIf]="!isLoading">
  <div class="container">
    <div class="row" id="forum-feed">
      <div class="col-md-8">
        <mat-toolbar-row
          class="mat-elevation-z8"
          style="background-color: white; border-radius: 4px"
        >
          <h1>
            <span style="font-family: Roboto, 'Helvetica Neue', sans-serif; margin-bottom: 15px;"
              >Posts on <strong> {{ forumName }}</strong></span
            >
            <!-- TODO: add option-buttons and on save add them to user's followed forums. -->
          </h1>
          <span class="example-spacer"></span>
          <app-options-button [isForum]="true" [isPost]="false" [toDelete]="this.forum"></app-options-button>
        </mat-toolbar-row>
        <app-post-tile [posts]="postsByForum"></app-post-tile>
      </div>

      <div class="col-md-3 mobile-hide">
        <app-forum-info [forum]="forum"></app-forum-info>
        <app-forum-side-bar></app-forum-side-bar>
      </div>
    </div>
  </div>
</ng-template>
