<div class="login-section">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h2>Log in</h2>
        <p style="color: green;">{{ registerSuccessMessage }}</p>
        <mat-error *ngIf="this.isError">
          Login Failed. Please check your credentials and try again.
        </mat-error>
        <mat-form-field>
          <mat-label> Username</mat-label>
          <input matInput type="text" formControlName="username" required />
          <mat-error
            *ngIf="
              loginForm.get('username')?.invalid &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched) &&
              loginForm.get('username')?.errors
            "
          >
            Please provide a username
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Password: </mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>
              {{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched) &&
              loginForm.get('password')?.errors
            "
          >
            Please enter your password.
          </mat-error>
        </mat-form-field>
        <div class="mt-top">
          <button
            [disabled]="!loginForm.valid || this.isLoggedIn"
            mat-raised-button
            color="primary"
            mat-button
            type="submit"
          >
            Sign In
          </button>
          <span style="padding-left: 15px"
            ><a routerLink="/signup">Forgot password?</a></span
          >
          <div
            class="login-failed"
            [ngStyle]="{ 'background-color': 'green' }"
            *ngIf="this.registerSuccessMessage.length > 0"
          >
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
