<mat-card class="create-post">
  <mat-card-content>
    <form class="post-form" [formGroup]="contactForm" (ngSubmit)="sendMessage()">
      <!-- (ngSubmit)="createPost()" inside the form bracket -->
      <h2>Contact Me</h2>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          maxlength="256"
          [formControlName]="'contactName'"
          placeholder="Title"
          #title
        />
        <mat-hint style="float: right">{{ title.value.length }} / 256</mat-hint>
        <mat-error
          *ngIf="
            contactForm.get('contactName')?.touched &&
            contactForm.get('contactName')?.errors
          "
        >
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Text"
          [formControlName]="'description'"
        ></textarea>
        <mat-error
          *ngIf="
            contactForm.get('description')?.touched &&
            contactForm.get('description')?.errors
          "
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div style="margin-top: 6px; display: flex" class="float-right">
        <button
          (click)="discardPost()"
          mat-button
          style="margin-top: 2px; width: 300px"
        >
          Discard
        </button>
        <button
          [disabled]="!contactForm.valid"
          style="margin-top: 2px; margin-left: auto; width: 300px"
          mat-raised-button
          color="primary"
          mat-button
          type="submit"
          routerLink="/"
        >
          Send
        </button>
      </div>
    </form>
  </mat-card-content>
  <div style="margin-top: 60px; display: flex" class="float-right">
    or <br />
    <a href="mailto:fedebarrena@gmail.com" style="padding-left: 3px; padding-right: 8px;"> Send Email</a>

    <mat-card-subtitle
      >Note: This will open your default mail client.</mat-card-subtitle
    >
  </div>
</mat-card>
