@media screen and (min-width: 0px) and (max-width: 720px) {
  .create-post {
    width: 400px;
    height: 300px;
  }
}


.btnCreatePost,
.btnCreateForum {
  margin-top: 5px;
}

.btnDiscard {
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  margin-top: 5px;
  color: #0079D3;
  background-color: transparent;
}

.btnCreatePost {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
}

mat-card {
  width: auto;
  max-width: 650px;
  margin-top: 79px;
  margin: 2em auto;
  text-align: center;
  height: 380px;
}

mat-form-field {
  display: block;
}

.create-post {
  margin-top: 110px;
}
