<div class="container">
    <div class="row">
        <div class="create-forum-container">
            <form class="post-form" [formGroup]="reportForm" novalidate (ngSubmit)="report()">
                <div class="form-group">
                    <div mat-dialog-title>Report</div>
                    <mat-form-field appearance="fill" style="width: 330px; margin-top: 5px">
                    <textarea matInput [formControlName]="'description'" 
                        placeholder="Please enter any details relevant to the report."></textarea>
                        <mat-error *ngIf="(reportForm.touched || reportForm.dirty) && reportForm.get('description')?.errors">
                            Field can't be empty.
                        </mat-error>
                        </mat-form-field>
                        
                    <div>
                        <div mat-dialog-actions style="margin-top: 6px; display: flex" class="float-right">
                            <button type="button" (click)="discard()" mat-button (click)="onNoClick()"
                                style="margin-top: 2px">
                                Discard
                            </button>
                            <button [disabled]="!reportForm.valid" style="margin-top: 2px; margin-left: auto"
                                mat-raised-button color="primary" mat-button type="submit">
                                Report
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>