.sidebar-view-forum {
    width: 312px;
    /*min-height: 400px;*/
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 53px;
    margin-bottom: 10px;
  }


  @media screen and (min-width: 0px) and (max-width: 770px) {
      #sidebar {
        display: none;
      }

      .sidebar-view-forum {
        display: none !important;
      }
    }
.forum{
  text-decoration: none;
  display: block;
}

.forum:hover{
  opacity: 0.8;
}
