
.votesection{
    margin:0px;
    background-color: #ffffff;
}
.upvote,.downvote {
    cursor: pointer;
    border-radius: 2px solid;
}
.upvote:hover {
    color: green;
}
.downvote:hover {
    color: red;
}

.votecount{
    font-weight: bold;
}
