<ng-template [ngIf]="isLoading">
  <div class="overlay">
    <mat-spinner
      [diameter]="50"
      [color]="'accent'"
      [hidden]="!isLoading"
    ></mat-spinner>
  </div>
</ng-template>
<ng-template [ngIf]="!isLoading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <mat-tab-group class="feed">
          <!--
          <mat-tab label="For you" class="for-you">
            <span *ngIf="this.isLoggedIn">
              <app-post-tile [posts]="postsByForum"></app-post-tile>
            </span>
            <div class="not-logged-in" *ngIf="!this.isLoggedIn">
              Please <a routerLink="/login">Log in</a> to see your feed
            </div>
          </mat-tab>
          -->
          <mat-tab label="Top">
            <app-post-tile [posts]="postsByVotes"></app-post-tile>
          </mat-tab>
          <mat-tab label="New">
            <app-post-tile [posts]="postsByDate"></app-post-tile>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="col-md-3">
        <app-forum-side-bar
          class="mobile-hide"
          id="sidebar"
        ></app-forum-side-bar>        
      </div>
    </div>
  </div>
</ng-template>
