<!--
<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <h2>List of Forums</h2>
      <mat-chip-listbox aria-label="Forums">
        <mat-chip-option *ngFor="let forum of forums" matTooltip="{{forum.description}}">
          <a routerLink="/forum/{{ forum.name }}" style="text-decoration: none;">{{ forum.name }}</a>
          
          <mat-card-subtitle>{{forum.numberOfPosts}}</mat-card-subtitle>

        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
-->

<!-- La posta abajo -->

<mat-toolbar-row *ngIf="showTitle"
          class="mat-elevation-z8"
          style="background-color: white; border-radius: 4px;margin-top: 69px;"
        >
          <h1>
            <span style="font-family: Roboto, 'Helvetica Neue', sans-serif"
              ><strong> Forums </strong></span
            >
          </h1>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
<mat-list class="example-list-wrapping">
  <span *ngFor="let forum of forums" >
    <span routerLink="/forum/{{ forum.name }}" class="forum">
      <mat-list-item lines="2"  matTooltip="{{forum.numberOfPosts}} posts">
        <span matListItemTitle>{{ forum.name }}</span> 
        <span>{{ forum.description }} </span>
      </mat-list-item>
    </span>
    <hr />
  </span>
  <!-- add forum.numberOfPosts as a tooltip or sth like that -->
</mat-list>