<ng-template [ngIf]="isLoading">
  <div class="overlay">
    <mat-spinner
      [diameter]="50"
      [color]="'accent'"
      [hidden]="!isLoading"
    ></mat-spinner>
  </div>
</ng-template>

<ng-template [ngIf]="!isLoading">
  <div class="container">
    <div>
      {{ name }} has posted <b>{{ postLength }}</b> time(s) and commented
      <b>{{ commentLength }}</b> time(s).
    </div>
    <hr />
    <div>Posts:</div>
    <app-post-tile [posts]="posts"></app-post-tile>
    <hr />
    <span *ngIf="commentLength > 0">
      <div>Comments:</div>

      <div style="margin-top: 10px" *ngFor="let comment of comments">
        <mat-card class="example-card" mat-elevation-z8>
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{
                                            'background-image':
                                              'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'
                                          }" routerLink="/user/{{ comment.userName }}" class="example-header-image">
            </div>
            <div class="header-right-container" style="position: absolute; right: 0; padding-right: 10px">
              <app-options-button [toDelete]="comment" [name]="commentType"></app-options-button>
            </div>
            <mat-card-title>
              <a class="username" routerLink="/user/{{ comment.userName }}" style="text-decoration: none; color:#3f51b5">{{ comment.userName
                }}</a>

                
            </mat-card-title>
            <mat-card-subtitle>
              <span> {{ comment.createdDate }} </span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div>
              <p [innerHtml]="comment.text" class="post-body"></p>
            </div>
          </mat-card-content>
          <mat-card-subtitle>
                          <p style="padding-left: 16px;">
                            see post <a routerLink="/post/{{ comment.postId }}"> here </a>
                          </p>
                          
          </mat-card-subtitle>
        </mat-card>
      </div>
    </span>
  </div>

  <!--ADD BROWSE FORUMS SHIT HERE-->
</ng-template>
