.container{
  margin-top: 75px;
}
 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #F0CAA3;
   display: flex;
   justify-content: center;
   align-items: center;
 }
